<div class="mb-6 flex justify-between items-center">
    <h1 class="text-3xl text-[#989898]">Teams</h1>

    <%= link_to "New team +", new_dashboard_team_path, class: "mb-4 py-4 px-6 inline-block bg-[#5e8c75] hover:bg-[#3c5e4d] transition text-white rounded-2xl" %>
</div>

<% if @active_team %>
    <h3 class="mb-5 text-xl">Active team</h3>

    <div class="grid grid-cols-3 gap-6">
        <div>
            <div class="mb-1.5 p-6 bg-white rounded-tl-2xl rounded-tr-2xl">
                <div class="flex flex-row items-center justify-between">
                    <h2 class="mb-6 text-xl font-bold"><%= link_to @active_team.title, dashboard_set_active_team_path(team_id: @active_team.id) %></h2>
                
                    <div class="-mt-5 flex flex-row items-center justify-between space-x-1">
                        <% @active_team.members.each do |member| %>
                            <a href="<%= dashboard_user_path(member) %>">
                                <% if member.avatar.attached? %>
                                    <img src="<%= url_for(member.avatar) %>" class="w-10 h-10 rounded-full">
                                <% else %>
                                    <div class="w-10 h-10 rounded-full bg-slate-500 flex items-center justify-center text-white">
                                        <span class="text-xl"><%= member.email[0] %></span>
                                    </div>
                                <% end %>
                            </a>
                        <% end %>
                    </div>
                </div>

                <p class="font-bold">Members</p>

                <div class="mt-4 space-y-4">
                    <% @active_team.members.each do |member| %>
                        <p class="flex flex-row gap-2 items-center">
                            <span class="w-2 h-2 rounded-full bg-slate-200"></span>

                            <span><%= member.email %></span>
                        </p>
                    <% end %>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-1.5">
                <%= link_to "Edit", edit_dashboard_team_path(@active_team), class: "py-4 inline-block text-center bg-white hover:bg-slate-50 transition rounded-bl-2xl" %>
                <%= link_to "Delete", dashboard_team_path(@active_team), class: "py-4 inline-block text-center bg-white hover:bg-slate-50 transition rounded-br-2xl", data: 
                    {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    }
                %>
            </div>
        </div>
    </div>
<% end %>

<hr class="my-8">

<h3 class="mb-5 text-xl">My teams</h3>

<% if @teams.any? %>
    <% if not @active_team %>
        <p class="mb-5 text-sm">Click on a team to activate it</p>
    <% end %>

    <div class="grid grid-cols-3 gap-6">
        <% @teams.each do |team| %>
            <div>
                <div class="mb-1.5 p-6 bg-white rounded-tl-2xl rounded-tr-2xl">
                    <div class="flex flex-row items-center justify-between">
                        <h2 class="mb-6 text-xl font-bold"><%= team.title %></h2>
                    
                        <div class="-mt-5 flex flex-row items-center justify-between space-x-1">
                            <% team.members.each do |member| %>
                                <a href="<%= dashboard_user_path(member) %>">
                                    <% if member.avatar.attached? %>
                                        <img src="<%= url_for(member.avatar) %>" class="w-10 h-10 rounded-full">
                                    <% else %>
                                        <div class="w-10 h-10 rounded-full bg-slate-500 flex items-center justify-center text-white">
                                            <span class="text-xl"><%= member.email[0] %></span>
                                        </div>
                                    <% end %>
                                </a>
                            <% end %>
                        </div>
                    </div>

                    <p class="font-bold"><%= team.members.size %> <%= 'member'.pluralize(team.members.size) %></p>
                </div>

                <div>
                    <div class="py-4 text-center bg-white rounded-b-2xl">
                        <%= link_to "Activate", dashboard_set_active_team_path(team_id: team.id) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <p class="mb-5 text-sm">You are not a member of a team yet.</p>

    <%= link_to "Create a team", new_dashboard_team_path, class: "mb-4 py-4 px-6 inline-block bg-[#5e8c75] hover:bg-[#3c5e4d] transition text-white rounded-2xl" %>
<% end %>