<div class="mt-20 py-20 px-20 text-center rounded-[30px] bg-[#12567c]">
  <h1 class="mb-6 text-5xl text-white font-bold">Log in</h1>

  <% if @user.errors.any? %>
    <div class="p-6 bg-rose-300 rounded-2xl">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: user_sessions_path, class: "space-y-4 text-white" do |form| %>
    <div class="flex flex-col items-center">
      <%= form.label :email %>
      <%= form.text_field :email, class: "w-[300px] mt-2 py-4 px-6 rounded-2xl text-slate-800" %>
    </div>
    <div class="flex flex-col items-center">
      <%= form.label :password %>
      <%= form.password_field :password, class: "w-[300px] mt-2 py-4 px-6 rounded-2xl text-slate-800" %>
    </div>
    <div>
      <%= form.submit 'Submit', class: "py-4 px-6 bg-[#5e8c75] hover:bg-[#3c5e4d] transition text-white rounded-2xl cursor-pointer" %>
    </div>
  <% end %>
</div>

