<!DOCTYPE html>
<html>
  <head>
    <title>Tymo</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="px-6">
    <nav class="px-12 py-6 flex justify-between items-center bg-[#12567c] rounded-b-[30px]">
      <a href="/">
        <%= image_tag("logo.png", width: '80') %>
      </a>

      <div class="space-x-6">
        <% if current_user %>
          <%= link_to "Dashboard", dashboard_path, class: "text-white font-bold" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "text-white font-bold" %>
          <%= link_to "Sign up", new_user_path, class: "text-white font-bold" %>
        <% end %>
      </div>
    </nav>

    <main class="max-w-6xl mx-auto px-12">
      <%= yield %>
    </main>

    <% flash.each do |type, msg| %>
      <div 
        class="w-full max-w-md p-6 rounded-2xl fixed bottom-4 right-4 transition-all <% if type == 'notice' %>bg-emerald-400<% else %>bg-rose-600<% end %>"
      >
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
